<!DOCTYPE html>
<html>
<head>
  <title>Vue Fantasy Baseball</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="leagueId" placeholder="League Id">
        <button v-on:click="getTeams()">Get Teams</button>
        <select v-model="seasonId" v-on:change="getTeams()">
            <option v-for="year in options" v-bind:value="year">
                {{ year }}
            </option>
        </select>

        <button v-on:click="getScores()">Get Scores</button>
    </div>

    <ul id="teamList" v-show="displayList">
        <li v-for="team in percentageOrder">
            {{ team.teamLocation + " " + team.teamNickname + " (" + team.owners[0].firstName + " " + team.owners[0].lastName +
                ") Record: " + team.record.overallWins + "-" + team.record.overallLosses + "-" + team.record.overallTies + " (" + team.record.overallPercentage + ")" }}
        </li>
    </ul>
  

<script>
    var app = new Vue({
        el: '#app',
        data: {
          leagueId: null,
          seasonId: 2017,
          options: [2017, 2016, 2015, 2014, "All Years"],
          matchupCount: 21, //make null
          leagueMembersCount: 10 //make null
        },
        methods: {
            getTeams: function(){
                $.getJSON('https://games.espn.com/flb/api/v2/leagueSettings?leagueId=' + this.leagueId + '&seasonId=' + this.seasonId, function (json) {
                    teamList.displayList = true;
                    teamList.json = json.leaguesettings.teams;
                    this.matchupCount = json.leaguesettings.regularSeasonMatchupPeriodCount;
                    this.leagueMembersCount = json.leaguesettings.leagueMembers.length;
                    console.log(json);
                });
            },
            getScores: function() {
            	var scores = [];

            	var getWeek = function(matchupPeriodId, callback){
            		$.getJSON('https://games.espn.com/flb/api/v2/scoreboard?leagueId=' + app.leagueId + '&seasonId=' + app.seasonId + '&matchupPeriodId=' + matchupPeriodId, function (json) {
            			var oneTeam;
            			var oneWeek = [];

            			for(var x = 0; x < app.leagueMembersCount/2; x++){
            				for(var y = 0; y < 2; y++){
            					var currentTeam = json.scoreboard.matchups[x].teams[y];
		            			oneWeek[currentTeam.teamId] = currentTeam.categoryScoring;
            				}
            			}

            			callback(oneWeek, matchupPeriodId);
                	});
            	}

            	for(var i = 1; i <= this.matchupCount; i++){
            		getWeek(i, function(week, matchupPeriodId){
            			scores[matchupPeriodId] = week;
            		});
            	}

            	console.log(scores);
            }
        }
    });
    
    var teamList = new Vue({
        el: '#teamList',
        data: {
            json: null,
            displayList: false
        },
        computed: {
            percentageOrder: function () {
                return _.orderBy(this.json, 'record.overallPercentage', 'desc');
            }
        }
    });

</script>
</body>
</html>
